html
{
  font-family: arial;
  font-size: 12pt;

  /**background-image: url(https://unsplash.it/1024/1500/?random);**/
  background:url(Hintergrund/bar.jpg);
  background-repeat: repeat-y;
  background-position: center center;
  background-size: cover;
}
h1
{
  color: #0B0B3B;
}
body
{
  margin: 0;
  padding: 0;
}
main
{
  text-align: center;

  width: 40em;

  margin: 0 auto;
  margin-top: 2em;
  margin-bottom: 2em;

  /**background: white;**/
  background-color: rgba(255, 255, 255, 0.6);
  border: 1px solid black;

  padding: 1px;
}
nav
{
  width: 100%;
}
ul
{
    width: 100%;
    margin: 0 auto;
    padding: 0;
}
ul li
{
  /**list-style: none;**/
  display: inline-block;
  /**padding: 20px;**/
}
#links
{
  width: 43%;
  background: #088A29;
  padding: 1em;
}
#rechts
{
  width: 43%;
  background: #08088A;
  padding: 1em;
}
#links:hover
{
  background: #04B431;
}
#rechts:hover
{
  background: #0000FF;
}
ul li a
{
  color: #fff;
  text-decoration: none;
}
.toggle
{
  width: 100%;
  padding: 10px 40px;
  background: #585858;
  text-align: right;
  box-sizing: border-box;
  color: #fff;
  font-size: 30px;
  display: none;
}
@media screen and (max-width:50em)
{
  .toggle
  {
    display:block;
  }
  html
  {
    background-image: none;
  }
  main
  {
    width: 100%;

    margin: 0 auto;
    margin-top: 0px;
    margin-bottom: 0px;

    background: white;
    border: 0px solid black;

    padding: 0px;
  }
  #links
  {
    width: 100%;
  }
  #rechts
  {
    width: 100%;
  }
  ul
  {
    /**width: 40%;**/
    display: none;
    /**text-align: right;**/
  }
  ul li
  {
      display: block;
  }
  .active
  {
    display: block;
  }
}
