html
{
  font-family: arial;
  font-size: 12pt;

  /**background-image: url(https://unsplash.it/1024/1500/?random);**/
  background:url(Hintergrund/bar.jpg);
  background-repeat: repeat-y;
  background-position: center center;
  background-size: cover;
}
h1
{
  color: #0B0B3B;
}
body
{
  margin: 0;
  padding: 0;
}
main
{
  text-align: center;

  width: 40em;

  margin: 0 auto;
  margin-top: 2em;
  margin-bottom: 2em;

  /**background: white;**/
  background-color: rgba(255, 255, 255, 0.6);
  border: 1px solid black;

  padding: 1px;
}
nav
{
  width: 100%;
}
ul
{
    width: 100%;
    margin: 0 auto;
    padding: 0;
}
ul li
{
  list-style: none;
  display: inline-block;
  /**padding: 20px;**/
}
#eingabe
{
  color: #0B0B3B;
  margin-top: 2em;
  list-style: none;
  display: block;
}
#cocktailalles
{
  list-style: none;
}
#cocktails
{
  padding-top: 2em;
  padding-bottom: 2em;
  width: 100%;
  border-bottom: 1px solid black;
  border-bottom-width: 100%;
  color: black;
  text-decoration: none;
}
#gibzutaten
{
  padding-left: 2em;
  padding-right: 2em;
  text-align: left;
}
#hinzu
{
  width: 92%;
  background: #088A29;
  padding: 1em;
}
#home
{
  width: 43%;
  background: #DF0101;
  padding: 1em;
}
#home2
{
  width: 43%;
  background: #088A29;
  padding: 1em;
}
#home3
{
  width: 27%;
  background: #08088A;
  padding: 1em;
}
#home4
{
  width: 27%;
  background: #DF0101;
  padding: 1em;
}
#bea
{
  width: 27%;
  background: #088A29;
  padding: 1em;
}
#det2
{
  width: 43%;
  background: #DF0101;
  padding: 1em;
}
#det3
{
  width: 43%;
  background: #088A29;
  padding: 1em;
}
#hinzu:hover
{
  background: #04B431;
}
#sortieren:hover
{
  background: #0000FF;
}
#home:hover
{
  background: #FE2E2E;
}
#home2:hover
{
  background: #04B431;
}
#home3:hover
{
  background: #0000FF;
}
#home4:hover
{
  background: #FE2E2E;
}
#bea:hover
{
  background: #04B431;
}
ul li a
{
  color: #fff;
  text-decoration: none;
}
.toggle
{
  width: 100%;
  padding: 10px 40px;
  background: #585858;
  text-align: right;
  box-sizing: border-box;
  color: #fff;
  font-size: 30px;
  display: none;
}
@media screen and (max-width:50em)
{
  .toggle
  {
    display:block;
  }
  html
  {
    background-image: none;
  }
  main
  {
    width: 100%;

    margin: 0 auto;
    margin-top: 0px;
    margin-bottom: 0px;

    background: white;
    border: 0px solid black;

    padding: 0px;
  }
  #hinzu
  {
    width: 100%;
  }
  #sortieren
  {
    width: 100%;
  }
  #home
  {
    width: 100%;
  }
  #home2
  {
    width: 100%;
  }
  #home3
  {
    width: 100%;
  }
  #home4
  {
    width: 100%;
  }
  #bea
  {
    width: 100%;
  }
  ul
  {
    /**width: 40%;**/
    display: none;
    /**text-align: right;**/
  }
  ul li
  {
      display: block;
  }
  .active
  {
    display: block;
  }
}
